{
  "openapi": "3.0.3",
  "info": {
    "title": "tdproto",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://web.tada.team"
    }
  ],
  "paths": {
    "/api/v4/addr": {
      "get": {
        "summary": "Client address, for debug",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "example": "127.0.0.1"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/join/{token}/preview": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Invitation token",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "summary": "Invitation information",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "icons": {
                          "$ref": "#/components/schemas/TeamShort"
                        },
                        "name": {
                          "type": "string",
                          "description": "Team name",
                          "example": "Test Team"
                        },
                        "uid": {
                          "type": "string",
                          "description": "Team id",
                          "example": "123e4567-e89b-12d3-a456-426614174000"
                        }
                      },
                      "description": "Short team representation. For invites, push notifications, etc. Readonly."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/ping": {
      "get": {
        "summary": "Server ping",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "example": "pong"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v4/time": {
      "get": {
        "summary": "Server time",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "example": true
                    },
                    "result": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2021-04-09T15:06:46.555215Z"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IconData": {
        "type": "object",
        "properties": {
          "color": {
            "type": "string",
            "description": "Stub icon background color"
          },
          "letters": {
            "type": "string",
            "description": "Letters from stub icon"
          },
          "lg": {
            "description": "Large image",
            "$ref": "#/components/schemas/SingleIcon"
          },
          "sm": {
            "description": "Small icon",
            "$ref": "#/components/schemas/SingleIcon"
          },
          "stub": {
            "type": "string",
            "description": "Generated image with 1-2 letters"
          }
        },
        "description": "Icon data. Contains sm+lg (for uploaded image) OR stub+letters+color (for icon generated from display name)"
      },
      "SingleIcon": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "Icon height, in pixels"
          },
          "url": {
            "type": "string",
            "description": "absolute url to icon"
          },
          "width": {
            "type": "number",
            "description": "Icon width, in pixels"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "Small or large icon"
      },
      "TeamShort": {
        "type": "object",
        "properties": {
          "icons": {
            "description": "Team icons",
            "$ref": "#/components/schemas/IconData"
          },
          "name": {
            "type": "string",
            "description": "Team name"
          },
          "uid": {
            "type": "string",
            "description": "Team id"
          }
        },
        "required": [
          "icons",
          "name",
          "uid"
        ],
        "description": "Short team representation. For invites, push notifications, etc. Readonly"
      }
    }
  }
}
